<div class="strip strip-primary">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">
      <div class="col-12 mb-2 countdown">
        {{ if $.image }}
        <div class="countdown-image"><img width="100" height="100" alt="{{ $.title }}" src="{{ $.image }}" /></div>
        {{ end }}
        <h2 class="countdown-title">{{ $.title }}</h2>
        <div class="countdown-ticker">{{ $.date | time.Format "02 Jan 2006 15:04 MST" }}</div>
        <div class="countdown-content">
          <p>{{ $.description | markdownify }}</p>
        </div>
        <a class="button" href="{{ $.buttonLink }}">{{ $.buttonText }}</a>
      </div>
    </div>
  </div>
</div>
