<div class="container mt-3">
<div class="d-flex justify-content-center align-items-center alert alert-warning">
  <div>
		<img width="50px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/195px-Apple_logo_black.svg.png" alt="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/195px-Apple_logo_black.svg.png" class="transparent">
  </div>
  <div>
		<p class="mt-2 ml-1"> Please <a target="_blank" class="button" href="https://opencollective.com/prav-ios">donate</a> to support building Prav app for iPhone users</p>
  </div>
</div>
</div>
